*{
	box-sizing:border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

.topheader {
	position: relative;
	top: 0;
}

.logo {
	background-color: #D2B48C;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: solid;
}

.logotext {
	font-size: 1.8rem;
	font-family: "spartan";
	width: 60%;
}
@media only screen and (max-width: 900px) {
  .logotext {
	  font-size: 1rem;
  }
}

.guitar {
	width: 25%;
	float: left;
	margin: auto;
	padding: 10px;
	border-bottom: solid;
}

.guitar img {
	width: 25%;
	float: right;
	margin: auto;
	padding: 10px;
	width: 500px;
	line-height: 20px;
	border-left: solid;
}

.guitar h1 {
	font-size: 1.5rem;
}

@media only screen and (max-width: 1520px) {
	.guitar {
		width: 33.3%;
	}
}
@media only screen and (max-width: 1200px) {
	.guitar {
		width: 50%;
	}
}
@media only screen and (max-width: 800px) {
	.guitar {
		width: 100%;
	}
}


